@import "tailwindcss";
@tailwind utilities;

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-500: #00F3AB;
  --color-primary-400: #00c29e;
  --color-secondary-500: #245C69;
  --color-secondary-600: #3CB4A6;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --breakpoint-xs: 30rem;
}

@keyframes shake{
  0% { transform: rotate(0deg); }
  13% { transform: rotate(15deg); }
  25% { transform: rotate(-15deg); }
  50% { transform: rotate(15deg); }
  75% { transform: rotate(-15deg); }
  100% { transform: rotate(0deg); }
}

@keyframes spin-slow {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.spin-slow {
  animation: spin-slow 40s linear infinite;
}

:root {
  --background: #011926;
  --foreground: #ededed;
}

.logo-shake:hover {
  animation: shake 1s;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Lexend";
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
